<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>BBSExampleV2</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	
<!-- 	<servlet>
		서블릿 클래스의 별명
		<servlet-name>BBS</servlet-name>
		실제 서블릿 클래스
		<servlet-class>hs.bbs.servlet.HSServlet</servlet-class>
		<init-param>
			<param-name>propertiesPath</param-name>
			<param-value>D:\\Developer\\jeong-workspace\\EE\\BBSExample\\WebContent\\bbs.properties</param-value>
		</init-param>
		<multipart-config>
			<location>D:\temp</location>	파일 임시 저장위치. 지정하지 않아도 된다.???해봐야지.
			반드시!! 이 순서대로 해야 하며 순서를 어기면 에러가 난다.
			<max-file-size>-1</max-file-size>                         -1은 파일 업로드 사이즈의 제한이 없다.
			<max-request-size>-1</max-request-size>           -1은 요청되는 총 파일의 사이즈 제한이 없다.
			<file-size-threshold>1024</file-size-threshold>       한번에 전송되는 파일의 크기
			req.getPart() 하기 전에는 location 위치에 저장되어 있다..
		</multipart-config>
	</servlet>
	서블릿이 과 맵핑
	<servlet-mapping>
		<servlet-name>BBS</servlet-name>
		<url-pattern>*.hs</url-pattern>
	</servlet-mapping> -->

</web-app>